.main{
  background-color: #FFF0E4;
  height: 3300px;
  width: 100%;
}

.footer{
  background-color: #FCFFC0;
  height: 200px;
}

.navbar {
    margin-bottom: 0;
}

.carousel-inner img{
    width: 100%;
}

.words{
	text-align: center;
}

p.words{
	font-size: 20px;
	margin-bottom: 40px; 
	font-family: "cursive",cursive;
}

p.words_border{
	font-size: 20px;
	margin-bottom: 100px; 
	font-family: "cursive",cursive;
}

p.words_english{
	font-size: 30px;
	margin-top: 60px; 
	font-family: "cursive",cursive;
}

.howto{
	font-size: 30px;
	text-align: center;
	margin-top:100px;
}

.what{
	font-size: 50px;
	color:#ffff00;
}

.site-logo {
	 /* サイズ指定 */        
	 width:170px;
	 height:170px;
	 /* 背景色 */
	 background-color:#66ffff;
	 /* 角を丸くする */
	 border-radius: 50%;
	 border-radius: 50%;
	 border-radius: 50%;
	 margin-left: 90px
}

.site-info {
	padding-bottom:68px;  /*真ん中にまで文字を下ろす*/ 
}

.site-logo h1{
	font-size:33px;
	 text-align: center; /* 中央寄せ */
	 color: #fff; /* 文字を白色に */
	 /*margin-bottom: 20px; /* h1とpの余白をリセット */
	 background-color: rgba(0,0,255,0);
}

.text{
	font-size: 18px;
	color: #dedede;
}

.text-mini{
	font-size: 20px;
	color: #dedede;
}

.button{
	font-size: 60px;
	color: #fff;
	background-color: #ff840a;
	padding: 10px 50px;
	margin-left: 420px;
	margin-top: 250px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button:hover{
	opacity: 0.8;

}

.th{
	font-family: "cursive",cursive;
	font-size:15px;
}


img.bg {

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  /* またはabsolute; */
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px){
  img.bg {

  left: 50%;
  margin-left: -512px; }
}
 
div#container {
  position: relative;
}
