* {
	margin:0;
	padding:0;
}

ul {
	list-style-type: none;
}

/** Layout **/
.container {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#header {
	background-color: #DAFFE7;
	height: 55px;
}

#content {
	/*background-color: rgba(255,255,0,0.2);*/
	clear: both;
	overflow: auto;
}

#footer {
	background-color: #FCFFC0;
	height: 80px;
	clear: both;
}


/*pages/top*/
.one {
	text-align: center;
	margin: 23% 0%;
	font-family: "cursive",cursive;
}

.one p {
	padding: 3% 0%;
}

.ja {
	margin-bottom: 10%;
	font-size: 2em;
}

.en {
	font-size: 2.5em;
}

.two {
	background-color: #00a1e9;
	height: 58em;
	text-align:center;
	padding-top: 7%;
}

.two-top {
	margin-bottom: 8%;
}

.two-top h2 {
	font-size: 3.5em;
	margin-bottom: 3%;
	color: #ffff00;
}

.two-top p {
	font-size: 2.4em;
	color: #ffffff;
}

.two-content h3 {
	font-size: 2em;
	color: #ffffff;
	line-height: 6.3em;
	opacity: 0.93;
	margin-left: 28%;
	/*padding-top: 19%;*/
	/* サイズ指定 */        
	width:6.3em;
	height:6.3em;
	/* 背景色 */
	background-color: rgb(55,255,255);
	/* 角を丸くする */
	border-radius: 50%;
	border-radius: 50%;
	border-radius: 50%;
}

.two-content p {
	font-size: 1.3em;
	margin-left: auto;
}

.content-ja {
	margin-top: 10%;
}



.button {
	font-size: 60px;
	color: #fff;
	background-color: #ff840a;
	margin: 30% 40% 20%;
	padding: 10px 50px;
	border-radius: 7%;
}

.button:hover{
	opacity: 0.8;
}



/*items/index*/
.sidebar {
	float: left;
}

.sidebar li {
	background-color: #dbdbdb;
	padding: 15px;
	/*border: solid 1px #dbdbdb;*/
}

.main{
	float: left;
}

.main-top {
	color: #00a1e9;
	font-size: 40px;
	padding: 30px 0px;
	text-align: center;
}

.main-item {
	border: solid 1px #dbdbdb;
	max-width: 100%;
	height: auto;
	display: block;
}

.main-item img {
	max-width: 100%;
	height: auto;
	display: block;

}

.item-category {
	font-size: 16px;
	margin-top: 10px;
}

.item-title {
	font-size:33px;
	font-weight: 600;
	margin: 50px 0px 30px;
	clear: left;
}

.item-name {
	font-size: 16px;
	float: left;
}

.item-created {
	font-size: 16px;
	float: left;
	margin-left: 23px;
}

.item-edit {
	margin-right: 20px;
	float: left;
	margin-left: 15%;
}

.item-delete {
	float: left;
}

.item-description {
	clear: left;
	font-size: 23px;
	padding: 40px 0px 20px;
	clear: left;
}

.user-menu {
	padding-right: 60px;
}

.th{
	font-family: "cursive",cursive;
	font-size:15px;
}


img.bg {

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  /* またはabsolute; */
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px){
  img.bg {

  left: 50%;
  margin-left: -512px; }
}
 
/*div#container {
  position: relative;
}*/



/*users/add*/
.user_add {
	background-color: #33ccff;
	border: solid 1px black;
	padding: 30px;
}


/*items/add*/
.item_add {
	background-color: #33ccff;
	border: solid 1px black;
	padding: 30px;
	margin: 0px 50px 25px;
}



/** containers **/
div.form,
div.index,
div.view {
	float:right;
	width:76%;
	border-left:1px solid #666;
	padding:10px 2%;
}
div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background: #f9f9f9;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}


/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}


/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}
